{% extends 'core/base.html' %}

{% load static %}

{% block title %}FUTURAR | Contacto{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Mandá tu consulta</h1>
    {% if mensaje_exito %}
        <p class="success-message">¡Gracias por tu mensaje! Nos pondremos en contacto contigo pronto.</p>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.querySelector(".contact-form").reset(); // Resetea el formulario
            });
        </script>
    {% endif %}
    <form method="post" class="contact-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Enviar</button>
    </form>
</div>
{% endblock %}