{% extends 'core/base.html' %}

{% load static %}
{% block title %}FUTURAR | Contacto-fallido{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

{% block content %}
    <div class="contact-container adjustable-text">
        <div class="success-message">
            <h1>Hubo un problema al enviar tu mensaje</h1>
            <p>No pudimos enviar tu mensaje. Te redirigiremos al inicio en unos segundos.</p>
        </div>
        <script>
            setTimeout(function(){
                window.location.href = "{% url 'inicio' %}";
            }, 5000);  // Redirige a "inicio" después de 5 segundos
        </script>
    </div>
{% endblock %}