<!-- inicio.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/inicio.css' %}">
{% endblock %}

{% block content %}
    <!-- Sección de Inicio -->
    <section id="inicio" class="adjustable-text">
        <img src="{{ inicio.imagen.url }}" alt="Imagen de inicio">
        
        <div class="card">
            <h2>Bienvenidos a FUTURAR</h2>
            <p>{{ inicio.bienvenida|safe }}</p>
        </div>
        
        <div class="card">
            <h3>¿Qué ofrecemos?</h3>
            <p>{{ inicio.que_ofrecemos|safe }}</p>
        </div>
        
        <ul>
            <div class="card-link">
                <li><a href="{% url 'inicio' %}">
                    <img src="{% static 'images/010-inicio.png' %}" alt="Icono Inicio">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'nosotros' %}">
                    <img src="{% static 'images/020-nosotros.png' %}" alt="Icono Nosotros">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'programas' %}">
                    <img src="{% static 'images/030-programas.png' %}" alt="Icono Programas">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'actividades' %}">
                    <img src="{% static 'images/040-actividades.png' %}" alt="Icono Actividades">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'historias' %}">
                    <img src="{% static 'images/050-historias.png' %}" alt="Icono Historias">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'articulos' %}">
                    <img src="{% static 'images/060-articulos.png' %}" alt="Icono Articulos">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'donaciones' %}">
                    <img src="{% static 'images/070-donaciones.png' %}" alt="Icono Donaciones">
                </a></li>
            </div>
            <div class="card-link">
                <li><a href="{% url 'contacto' %}">
                    <img src="{% static 'images/080-contacto.png' %}" alt="Icono Contacto">
                </a></li>
            </div>
        </ul>
    </section>
{% endblock %}
